<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Concursante [ @ViewBag.Title ]</title>
    <link href="~/Assens/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assens/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>


    <!--Aqui va el codigo que es comun para toda la pagina-->
    <div class="jumbotron" style="background-color:blueviolet">
        <h3>Concurso</h3>
    </div>

    @RenderBody()
    <!--Aqui va el codigo de el pie de la pagina-->
    <script src="~/Assens/js/bootstrap.min.js"></script><!--Para los script se deben de poner alo ultimo por que primero se carga la pagia depues se cargan los script-->
</body>
</html>

